/*
----------------------------------------------------
Contents:
----------------------------------------------------
1.	Vertical layer 1
2.	Horizontal layer 1 (page-wrapper contents)
3.	Miscelanious layout
4.	html/body reset
----------------------------------------------------
*/

/* Vertical layer 1 */
.page-header {
	position: 				absolute;
	top: 					0vh;
	width: 					100vw;
	height: 				5vh;
}
.page-footer {
	position: 				absolute;
	bottom:					0vh;
	width: 					100vw;
	height: 				5vh;
}
.page-footer-copyright, .page-header-message {
	text-align: 			center;
	font-size: 				smaller;
	font-weight: 			200;
}
.page-wrapper {
	position: 				absolute;
	top: 					5vh;
	left: 					5vw;
	width: 					95vw;
	height: 				90vh;
}

/* Horizontal layer 1 (page-wrapper contents) */
.navigation-menu {
	float: 					left;
	width: 					15vw;
	height: 				90vh;
}
.navigation-menu-item {
	background-color: 		rgba(255,255,255,0.85);
	width: 					15vw;
    height: 				20.25vh;
	border-top: 			1px solid rgba(230,230,230,1);
    border-left: 			1px solid rgba(75,0,130,1);
    border-bottom: 			1px solid rgba(75,0,130,1);
    border-top-left-radius: 10px;
	text-align: 			center;
}
.navigation-menu-item-spacing {
	height: 				3vh;
	margin-top: 			-1px;
	margin-bottom: 			-1px;
}

.content-wrapper {
	background-color: 		rgba(255,255,255,0.85);
    float: 					left;
    width: 					75vw;
    height: 				90vh;
    border-left: 			1px solid rgba(75,0,130,1);
    border-top: 			1px solid rgba(75,0,130,1);
    border-right: 			1px solid rgba(75,0,130,1);
    border-bottom: 			1px solid rgba(200,200,200,1);
    border-bottom-right-radius: 10px;
	box-shadow: 			2px 2px 5px rgba(75,0,130,1);
}

/* Miscelanious layout */
body {
	color: 					rgba(120,120,120,1);
	font-family: 			Arial, Helvetica, sans-serif;
	font-weight: 			200;
	background-image: 		url('http://wallpapercave.com/wp/WShsIJl.jpg');
	background-repeat: 		no-repeat;
	background-size: 		120% auto;
}
a {
	display: 				block;
	font-size: 				1.4em;
	color: 					rgba(75,0,130,1);
	text-decoration: 		none;
	border-top-left-radius: 10px;
	box-shadow: 			-2px 2px 5px rgba(150,150,150,1);
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a:hover {
	box-shadow: 			-2px 2px 5px rgba(75,0,130,1);
}
.active {
	box-shadow:  			-2px 2px 5px rgba(75,0,130,1);
}
.active:hover {
	box-shadow:  			-2px 2px 5px rgba(150,150,150,1);
}
.vertical-align {
	position: 				relative;
	top: 					50%;
	-webkit-transform: 		translateY(-50%);
	-ms-transform: 			translateY(-50%);
	transform: 				translateY(-50%);
}

/* html/body reset */
html body {
	margin: 				0%;
	padding: 				0%;
	min-height: 			100%;
	min-width: 				800px;
}
