/*
----------------------------------------------------
Contents:
----------------------------------------------------
1.	Vertical layer 1
2.	Horizontal layer 1 (page-wrapper contents)
3.	Miscelanious layout
4.	html/body reset
----------------------------------------------------
*/

/* Vertical layer 1 */
.page-header {
	width: 		100%;
	height: 	5%;
}
.page-footer {
	width: 		100%;
	height: 	5%;
}
.page-wrapper {
	width: 		100%;
	height: 	90%;
}

/* Horizontal layer 1 (page-wrapper contents) */
.navigation-menu {
	display: 	inline-block;
	width: 		20%;
	min-width: 	200px;
	height: 	100%;
}
.content-wrapper {
	display: 	inline-block;
	width: 		80%;
	min-width: 	800px;
	height: 	100%;
}

/* Miscelanious layout */
.vertical-align {
	position: 			relative;
	top: 				50%;
	-webkit-transform: 	translateY(-50%);
	-ms-transform: 		translateY(-50%);
	transform: 			translateY(-50%);
}

/* html/body reset */
html {
	margin: 	0%;
	padding: 	0%;
	height: 	100%;
}
body {
	margin: 	0%;
	padding: 	0%;
	min-height: 100%;
}
