<img src="http://janschravenadvies.nl/images/logo_files/400dpiLogo.png" class="page-logo-small"/>
<div class="about-me-container">
	<h2 class="title">Contact</h2>
	<p class="justified">
	Sit ut nostrud eiusmod anim anim. 
	Exercitation minim irure dolore minim dolore 
	minim duis amet non. Minim proident cupidatat 
	dolor aute. Fugiat sint esse dolor elit aliquip 
	est laborum dolor qui laboris aute proident 
	excepteur.
	</p>
	<h3 class="title">Neem contact op</h3>
	<p class="justified">
	Ipsum velit eu proident duis esse dolor 
	tempor est reprehenderit. Veniam proident elit non nulla.
	</p>
	<hr/>
	<div class="content-half-container-left">
	<form>
	<p class="justified">
		<span class="email-input-tag">uw emailadres</span> 
		{{input class="email-input"}}
	</p>
	<p class="justified email-item-spacing">
		<span class="email-input-tag">uw bericht</span> 
		{{textarea class="email-input-message"}}
			<button type="submit" class="email-input-button">
		verstuur
	</button>
	</p>
	</form>	
	</div>
	<div class="content-half-container-right">
	<h3 class="title">Jan Schraven</h3>
	<subtitle class="title">Juridisch adviseur</subtitle>
	<p class="contact-info">
	<hr/>
	Waterbies 43<br/>
	1234 AB, Den Haag<br/>
	<hr/>
	06 - 12345678<br/>
	123 - 1234567<br/>
	<hr/>
	<span class="small-font">info@janschravenadvies.nl</span><br/>
	</p>
</div>
</div>
{{outlet}}
